/* Import font from https://fonts.google.com/specimen/Red+Hat+Text */
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text:700&display=swap');

:root {
  --soft-red: #fb6087;
}

h1 {
  color: white;
  margin: 100px;
  letter-spacing: 5px;
  font-size: 23px;
}

body {
  background-image: url('./images/bg-stars.svg');
  background-color: hsl(234, 17%, 12%);
  text-align: center;
  font-family: 'Red Hat Text';
}

.mountains-container {
  width: 100%;
  height: 200px;
  background-image: url('./images/pattern-hills.svg');
  background-size: cover;
  position: fixed;
  bottom: 0;
}

.social-container {
  margin: 20px;
}

.social-icon {
  margin: 15px;
}

.social-icon img:hover {

  filter: invert(53%) sepia(26%) saturate(1217%) hue-rotate(296deg) brightness(95%) contrast(107%);
}

footer {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}